<h1>All users</h1>

<table class="users" cellspacing=0 cellpadding = 0>
  <tr>
    <th>
      Name
    </th>
    <th>
      Email
    </th>
    <th>
      RSVP
    </th>
    <th>
      Clicked
    </th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.full_name %>
      </td>
      <td>
        <%= user.email %>
      </td>
      <td>
        <%= user.rsvp %>
      </td>
      <td>
        <%= user.clicked_invite %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td></td>
    <td></td>
    <td><%= @users.where(:rsvp => true).count %></td>
  </tr>
</table>